<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.votingsystem.tsiro.votingsystem" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="com.votingsystem.tsiro.votingsystem.permission.C2D_MESSAGE" android:protectionLevel="signature" />
    <uses-permission android:name="com.votingsystem.tsiro.votingsystem.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:name="com.votingsystem.tsiro.app.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <activity
            android:name="com.votingsystem.tsiro.mainClasses.LoginActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateAlwaysHidden"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.votingsystem.tsiro.mainClasses.DashboardActivity"
            android:screenOrientation="portrait"
            android:label="@string/surveysActivity">
        </activity>

        <activity
            android:name="com.votingsystem.tsiro.mainClasses.SurveysActivity"
            android:screenOrientation="portrait"
            android:label="@string/dashBoardActivity">
        </activity>

        <!-- ATTENTION: This was auto-generated to add Google Play services to your project for
             App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.example.gcm" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.votingsystem.tsiro.services.gcm.MyGcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>

        <service
            android:name="com.votingsystem.tsiro.services.gcm.MyInstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>

        <service
            android:name="com.votingsystem.tsiro.services.gcm.RegistrationIntentService"
            android:exported="false" />

    </application>

</manifest>
